In [1]:
import requests
import lxml
from lxml import etree

In [2]:
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.99 Safari/537.36"}

In [2]:
rep = requests.get(url='http://quotes.toscrape.com/page/1/', headers = headers)
html = etree.HTML(rep.content)

In [4]:
item_list = html.xpath('//div[@class="quote"]')
item_list[0].xpath('./span[1]/@class')

Test IMDB

In [3]:
rep = requests.get(
    url='https://www.imdb.com/search/title/?title_type=feature,tv_movie&num_votes=5000,&colors=color&adult=include&view=simple&count=250&start=1251&ref_=adv_nxt', 
    headers = headers)

In [4]:
html = etree.HTML(rep.content)
movie_list = html.xpath('//div[@id="wrapper"]//div[@id="main"]//div[@class="lister-item mode-simple"]')

In [6]:
domain_url = 'https://www.imdb.com'
for movie in movie_list:
    detail = movie.xpath('.//span[@class="lister-item-header"]/span[2]')[0]
    url = detail.xpath('./a/@href')[0]
    title = detail.xpath('./a/text()')[0]
    print('%s %s'%(title, url))
    break

Excalibur /title/tt0082348/?ref_=adv_li_tt

In [36]:
next_page = html.xpath('//body//a[@class="lister-page-next next-page"]')
next_page[0].xpath('./@href')[0]

Test Sqlite3

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('D:/hongkong record/daily course/second seminster/COMP7630/Project/data.db')
# c = conn.cursor()

Test SQLalchemy

In [1]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String
from sqlalchemy.orm import sessionmaker

Base = declarative_base()

In [2]:
engine = create_engine('sqlite:///D:/hongkong record/daily course/second seminster/COMP7630/Project/test.db', echo=True)

In [3]:
class User(Base):
    # 指定本类映射到users表
    __tablename__ = 'users'
    
    id = Column(Integer, primary_key=True)
    name = Column(String(20))
    fullname = Column(String(32))

    def __repr__(self):
        return "<User(id=%d, name='%s', fullname='%s')>" % (self.id, self.name, self.fullname)

In [4]:
# 查看映射对应的表
User.__table__

# 创建数据表
# checkfirst=True，表示创建表前先检查该表是否存在，如同名表已存在则不再创建。其实默认就是True
Base.metadata.create_all(engine, checkfirst=True)

2020-03-23 23:06:54,727 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-03-23 23:06:54,731 INFO sqlalchemy.engine.base.Engine ()
2020-03-23 23:06:54,732 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-03-23 23:06:54,733 INFO sqlalchemy.engine.base.Engine ()
2020-03-23 23:06:54,735 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("users")
2020-03-23 23:06:54,736 INFO sqlalchemy.engine.base.Engine ()

generate Session

In [5]:
Session = sessionmaker(bind=engine)
session = Session()

In [10]:
session.query(User).all()

2020-03-23 23:09:06,889 INFO sqlalchemy.engine.base.Engine UPDATE users SET name=? WHERE users.id = ?
2020-03-23 23:09:06,890 INFO sqlalchemy.engine.base.Engine ('wendy3434', 34)
2020-03-23 23:09:06,893 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname
FROM users
2020-03-23 23:09:06,894 INFO sqlalchemy.engine.base.Engine ()

[<User(id=0, name='ed', fullname='Ed Jones')>,
 <User(id=1, name='wendy', fullname='Wendy Williams')>,
 <User(id=2, name='mary', fullname='Mary Contrary')>,
 <User(id=3, name='fred', fullname='Fred Flinstone')>,
 <User(id=10, name='ed', fullname='Ed Jones')>,
 <User(id=20, name='ed', fullname='Ed Jones')>,
 <User(id=21, name='wendy', fullname='Wendy Williams')>,
 <User(id=22, name='mary', fullname='Mary Contrary')>,
 <User(id=23, name='fred', fullname='Fred Flinstone')>,
 <User(id=24, name='wendy', fullname='None')>,
 <User(id=25, name='mary', fullname='Mary Contrary')>,
 <User(id=26, name='fred', fullname='Fred Flinstone')>,
 <User(id=27, name='ed', fullname='Ed Jones')>,
 <User(id=28, name='wendy', fullname='None')>,
 <User(id=29, name='mary', fullname='Mary Contrary')>,
 <User(id=30, name='fred', fullname='Fred Flinstone')>,
 <User(id=31, name='ed', fullname='Ed Jones')>,
 <User(id=32, name='wendy', fullname='None')>,
 <User(id=33, name='marydadad', fullname='Mary Contrary')>,
 <User(id=34, name='wendy3434', fullname='Fred Flinstone')>]

In [11]:
session.merge(User(name='wendy3434',id=100))

2020-03-23 23:16:23,218 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname
FROM users
WHERE users.id = ?
2020-03-23 23:16:23,219 INFO sqlalchemy.engine.base.Engine (100,)

In [10]:
session.rollback()
session.add(User(name='ed', fullname='Ed Jones'))

session.add_all([
    User(name='wendy',),
    User(name='marydadad', fullname='Mary Contrary'),
    User(name='fred', fullname='Fred Flinstone')
])

# 当前更改只是在session中，需要使用commit确认更改才会写入数据库
session.commit()

2020-03-19 21:35:08,603 INFO sqlalchemy.engine.base.Engine ROLLBACK
2020-03-19 21:35:08,605 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-03-19 21:35:08,606 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2020-03-19 21:35:08,607 INFO sqlalchemy.engine.base.Engine ('ed', 'Ed Jones')
2020-03-19 21:35:08,611 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2020-03-19 21:35:08,612 INFO sqlalchemy.engine.base.Engine ('wendy', None)
2020-03-19 21:35:08,613 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2020-03-19 21:35:08,614 INFO sqlalchemy.engine.base.Engine ('marydadad', 'Mary Contrary')
2020-03-19 21:35:08,615 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2020-03-19 21:35:08,616 INFO sqlalchemy.engine.base.Engine ('fred', 'Fred Flinstone')
2020-03-19 21:35:08,617 INFO sqlalchemy.engine.base.Engine COMMIT

In [45]:
session.query(User).filter_by(name='ed').first()
# session.query(User).filter_by(name='ed').all()
# like查询
# session.query(User).filter(User.name.like("ed%")).all()
# 正则查询
# session.query(User).filter(User.name.op("regexp")("^ed")).all()
# 统计数量
# session.query(User).filter(User.name.like("ed%")).count()

2020-03-17 16:57:04,290 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?
2020-03-17 16:57:04,291 INFO sqlalchemy.engine.base.Engine ('ed', 1, 0)

In [16]:
mod_user = session.query(User).filter_by(name='ed').first()
mod_user.name = 'change'
session.commit()

2020-03-17 15:01:50,922 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?
2020-03-17 15:01:50,923 INFO sqlalchemy.engine.base.Engine ('ed', 1, 0)
2020-03-17 15:01:50,924 INFO sqlalchemy.engine.base.Engine UPDATE users SET name=? WHERE users.id = ?
2020-03-17 15:01:50,925 INFO sqlalchemy.engine.base.Engine ('change', 1)
2020-03-17 15:01:50,928 INFO sqlalchemy.engine.base.Engine COMMIT

In [18]:
session.query(User).all()

2020-03-17 15:02:11,794 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-03-17 15:02:11,795 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname
FROM users
2020-03-17 15:02:11,795 INFO sqlalchemy.engine.base.Engine ()

[<User(name='change', fullname='Ed Jones')>,
 <User(name='wendy', fullname='Wendy Williams')>,
 <User(name='mary', fullname='Mary Contrary')>,
 <User(name='fred', fullname='Fred Flinstone')>]

In [ ]:
# del_user = session.query(User).filter_by(name='ed').first()
# session.delete(del_user)

# 删除前得先查询，这写法似乎有点蠢，但是确实并没有原生的那种直接给条件然后删除的写法
# 类似一点的可以写成以下形式
# session.query(User).filter_by(name='ed').first().delete()

Proxy Test

In [ ]:
import urllib.request
import urllib.error
import requests

In [ ]:
proxy = '218.75.158.153:3128'
url = 'http://www.w3school.com.cn'

proxy_handler = urllib.request.ProxyHandler({'http': proxy})
opener = urllib.request.build_opener(proxy_handler, urllib.request.HTTPHandler)
try:
    resbody = opener.open(url, timeout=5).read()
#     print(resbody)
    if code not in resbody:
        print('False')
    print('True')
except Exception:
    print('False')

In [ ]:
proxy = {
    'http': 'http://218.75.158.153:3128'
}

head = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36', 'Connection': 'keep-alive'}
'''http://icanhazip.com会返回当前的IP地址'''
p = requests.get('http://www.w3school.com.cn', headers=head, proxies=proxy, timeout=5)
print(p.text)